.social-buttons {
    display: inline-block;
    background: transparent;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px;
    /* Helper class to divide the icons */
  }
  .social-buttons .social-margin {
    margin-right: 15px;
  }
  .social-buttons a,
  .social-buttons a:hover,
  .social-buttons a:focus,
  .social-buttons a:active {
    text-decoration: none;
  }
  .social-buttons .social-icon {
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
    /* Facebook Button Styling */
    /* Twitter Button Styling */
    /* Google+ Button Styling */
    /* Linkedin Button Styling */
    /* Pinterest Button Styling */
    /* Behance Button Styling */
    /* Github Button Styling */
    /* Youtube Button Styling */
    /* Soundcloud Button Styling */
  }
  .social-buttons .social-icon:hover {
    transform: rotate(360deg) scale(1.3);
  }
  
  .social-buttons .social-icon.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
  }
  .social-buttons .social-icon.twitter:hover {
    background-color: #ffffff;
    color: #55acee;
  }
  
  .social-buttons .social-icon.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
  }
  .social-buttons .social-icon.linkedin:hover {
    background-color: #ffffff;
    color: #0976b4;
  }
  .social-buttons .social-icon.instagram {
    font-size: 22px;
    padding-top: 9px;
    background-color: #cb2027;
    color: #ffffff;
    border-color: #cb2027;
  }
  .social-buttons .social-icon.instagram:hover {
    background-color: #ffffff;
    color: #cb2027;
  }
  
  .social-buttons .social-icon.github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;
  }
  .social-buttons .social-icon.github:hover {
    background-color: #ffffff;
    color: #4183c4;
  }